html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #f7f5f0;
	color: #333333;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h2 {
	text-align: center;
	padding: 0.5em;
	margin: 0;
	width: 100%;
	color: #333333;
	background: #fffde7;
	border-bottom: solid 3px #333333;
}

.main-header,
.main-footer {
	width: 100vw;
	background-color: #333333;
	color: #fffde7;
}

.main-header {
	height: 100px;
	top: 0;
	left: 0;
	position: fixed;
}

.main-footer {
	min-height: 50px;
	height: 50px;
	bottom: 0;
}

.content {
	flex: 1;
	display: flex;
	height: 100vh - 150px;
	width: 100vw;
	margin-top: 100px;
	margin-bottom: -5px;
	overflow: hidden;
}

.main-content {
	width: 60vw;
	padding-top: 5px;
	overflow-y: auto;
	overflow-x: auto;
	scrollbar-width: none;
	background-color: #fffde7;
	background-image:
		linear-gradient(#e0dfd5 1px, transparent 1px),
		linear-gradient(90deg, #e0dfd5 1px, transparent 1px);
	background-size: 20px 20px;
}

.left-content {
	width: 20vw;

	background-image: linear-gradient(90deg, #D4AF37, #fffde7);
	/*background-color: #fffde7;
	background-size: 80px 80px;
	background-image:
		linear-gradient(rgba(215, 204, 200, .7) 1%, rgba(215, 204, 200, .7) 1%, transparent 1%,
			transparent 99%, rgba(215, 204, 200, .7) 99%, rgba(215, 204, 200, .7) 100%),
		linear-gradient(90deg, rgba(215, 204, 200, .7) 1%, rgba(215, 204, 200, .7) 1%, transparent 1%,
			transparent 99%, rgba(215, 204, 200, .7) 99%, rgba(215, 204, 200, .7) 100%),
		linear-gradient(transparent, transparent 25%, rgba(215, 204, 200, .4) 25%, rgba(215, 204, 200, .4) 26%, transparent 26%,
			transparent 50%, rgba(215, 204, 200, .4) 50%, rgba(215, 204, 200, .4) 51%, transparent 51%,
			transparent 75%, rgba(215, 204, 200, .4) 75%, rgba(215, 204, 200, .4) 76%, transparent 76%, transparent 100%),
		linear-gradient(90deg, transparent, transparent 25%, rgba(215, 204, 200, .4) 25%, rgba(215, 204, 200, .4) 26%, transparent 26%,
			transparent 50%, rgba(215, 204, 200, .4) 50%, rgba(215, 204, 200, .4) 51%, transparent 51%,
			transparent 75%, rgba(215, 204, 200, .4) 75%, rgba(215, 204, 200, .4) 76%, transparent 76%, transparent 100%);*/

	form {
		margin: 5px 5px;
		text-align: right;
	}

	.prev-next {
		display: flex;
		justify-content: right;
		text-align: right;
	}
}

.right-content {
	width: 20vw;
	overflow-y: auto;
	scrollbar-width: none;


	background-image: linear-gradient(-90deg, #D4AF37, #fffde7);
	/*background-color: #fffde7;
	background-size: 80px 80px;
	background-image:
		linear-gradient(rgba(215, 204, 200, .7) 1%, rgba(215, 204, 200, .7) 1%, transparent 1%,
			transparent 99%, rgba(215, 204, 200, .7) 99%, rgba(215, 204, 200, .7) 100%),
		linear-gradient(90deg, rgba(215, 204, 200, .7) 1%, rgba(215, 204, 200, .7) 1%, transparent 1%,
			transparent 99%, rgba(215, 204, 200, .7) 99%, rgba(215, 204, 200, .7) 100%),
		linear-gradient(transparent, transparent 25%, rgba(215, 204, 200, .4) 25%, rgba(215, 204, 200, .4) 26%, transparent 26%,
			transparent 50%, rgba(215, 204, 200, .4) 50%, rgba(215, 204, 200, .4) 51%, transparent 51%,
			transparent 75%, rgba(215, 204, 200, .4) 75%, rgba(215, 204, 200, .4) 76%, transparent 76%, transparent 100%),
		linear-gradient(90deg, transparent, transparent 25%, rgba(215, 204, 200, .4) 25%, rgba(215, 204, 200, .4) 26%, transparent 26%,
			transparent 50%, rgba(215, 204, 200, .4) 50%, rgba(215, 204, 200, .4) 51%, transparent 51%,
			transparent 75%, rgba(215, 204, 200, .4) 75%, rgba(215, 204, 200, .4) 76%, transparent 76%, transparent 100%);*/
}

.input-form {
	justify-self: center;
	padding: 5px;

	table {
		color: #333333;
		border-collapse: collapse;
		table-layout: fixed;
		text-align: left;

		tr {
			table-layout: fixed;

			th,
			td {
				height: 30px;
				padding: 2px 5px;
			}

			th {
				width: 200px;
				background: bisque;
			}

			td {
				width: fit-content;
				background: #fffde7;
			}
		}
	}

}

.main-header-logo {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.main-header-list {
	display: flex;
	justify-content: center;
	gap: 32px;
	font-weight: bold;
	margin-top: 24px;
	list-style: none;
	padding-left: 0;
}

.main-header-anchor {
	color: #fffde7;
	text-decoration: none;
}

.main-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 0;
}

.classic-button {
	text-align: center;
	text-decoration: none;
	margin-top: 5px;
	padding: 5px 10px;
	border-radius: 1vh;
	border: 2px solid #333333;
	background: #333333;
	color: #fffde7;
	transition: 0.2s;
}

.classic-button:hover {
	color: #333333;
	background: #fffde7;
}

.add-button {
	text-align: center;
	text-decoration: none;
	margin-top: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #28a745;
	background: #28a745;
	color: #fffde7;
	transition: 0.2s;
}

.add-button:hover {
	color: #28a745;
	background: #fffde7;
}

.item-delete-button {
	text-align: center;
	text-decoration: none;
	margin: 1px;
	padding: 5px 10px;
	border: 2px solid #e74c3c;
	border-radius: 1vh;
	background: #e74c3c;
	color: #fffde7;
	transition: 0.2s;
}

.item-delete-button:hover {
	color: #e74c3c;
	background: #fffde7;
}

.item-edit-button {
	text-align: center;
	text-decoration: none;
	margin: 1px;
	padding: 5px 10px;
	border: 2px solid #3b82f6;
	border-radius: 1vh;
	background: #3b82f6;
	color: #fffde7;
	transition: 0.2s;
}

.item-edit-button:hover {
	color: #3b82f6;
	background: #fffde7;
}

.item-receipt-button {
	text-align: center;
	text-decoration: none;
	margin: 1px;
	padding: 5px 10px;
	border: 2px solid #28a745;
	border-radius: 1vh;
	background: #28a745;
	color: #fffde7;
	transition: 0.2s;
}

.item-receipt-button:hover {
	color: #28a745;
	background: #fffde7;
}

.item-table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 60vw;
	min-width: 60vw;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;

	thead {
		background: #333333;
		color: #fffde7;
		position: sticky;

		tr {
			position: relative;
			display: table;
			width: 100%;
			table-layout: fixed;
		}
	}

	tbody {
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 50vh;
		background: #fffde7;
		scrollbar-width: none;

		tr {
			display: table;
			width: 100%;
			table-layout: fixed;
			transition: 0.1s;

			td {
				padding: 0;

				a {
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: #333333;
					text-decoration: none;
				}
			}
		}

		tr:hover {
			background: lightgray;
		}
	}

	th,
	td {
		min-width: 50px;
		padding: 2px 5px;
		box-sizing: border-box;


		/*項目名*/
		&:nth-child(1) {
			width: 20%;
		}

		/*ジャンル名*/
		&:nth-child(2) {
			width: 12%;
		}

		/*収入,支出*/
		&:nth-child(3),
		&:nth-child(4) {
			width: 8%;
		}

		/*日付*/
		&:nth-child(5) {
			width: 12%;
		}

		/*備考*/
		&:nth-child(6) {
			flex-grow: 1;
		}

		/*更新,削除*/
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9) {
			justify-items: center;
			padding: 0;
			width: 7%;
		}
	}
}

.head-table {
	border-collapse: collapse;
	margin: 10px;

	th {
		background: #333333;
		color: #fffde7;
	}

	td {
		background: #fffde7;
		color: #333333;
	}
}

.item-view-button-all {
	text-align: center;
	text-decoration: none;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: 2px solid #28a745;
	border-radius: 1vh;
	background: #28a745;
	color: #fffde7;
	transition: 0.2s;
}

.item-view-button-all:hover {
	color: #28a745;
	background: #fffde7;
}

.item-view-button-genre {
	text-align: center;
	text-decoration: none;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: 2px solid #333333;
	border-radius: 1vh;
	background: #333333;
	color: #fffde7;
	transition: 0.2s;
}

.item-view-button-genre:hover {
	color: #333333;
	background: #fffde7;
}

.item-detail-table {
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	display: block;

	tr {
		display: table;
		width: 100%;
		table-layout: fixed;
		transition: 0.1s;

		th {
			color: #fffde7;
			background: #333333;
		}

		td {
			color: #333333;
			background: #fffde7;
		}
	}
}

.total-price {
	width: 200px;
	font-size: large;
	border-bottom: double 5px #333333;
}

.calendar-table {
	margin: 5px 0;
	background: #fffde7;
	border-collapse: collapse;

	th {
		width: 80px;
		max-width: 80%;
		background: blanchedalmond;
	}

	td {
		height: 60px;
		max-height: 60px;
		width: 80px;
		max-width: 80px;
	}

	td {
		font-size: 12px;
		text-align: left;
		vertical-align: top;
	}
}

#manual-calendar {
	justify-self: center;
}

.input-month {
	height: 20px;
	margin-right: 5px;
}

.calendar-button {
	display: block;
	height: 20px;
	line-height: 20px;
	width: 94%;
	text-decoration: none;
	margin-bottom: 0;
	font-size: 12px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 2px solid #3b82f6;
	background-color: #3b82f6;
	color: #fffde7;
	border-radius: 0.5vh;
	transition: 0.2s;
}

.calendar-button:hover {
	background-color: #fffde7;
	color: #3b82f6;
}

.calendar-button-minus {
	display: block;
	height: 20px;
	line-height: 20px;
	width: 94%;
	text-decoration: none;
	margin-bottom: 0;
	font-size: 12px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 2px solid #e74c3c;
	background-color: #e74c3c;
	color: #fffde7;
	border-radius: 0.5vh;
	transition: 0.2s;
}

.calendar-button-minus:hover {
	background-color: #fffde7;
	color: #e74c3c;
}

.account-info-list {
	padding: 0;
	position: relative;

	li {
		color: #333333;
		border-left: solid 6px #333333;
		background: #FFFDE7;
		margin-bottom: 3px;
		line-height: 1.5;
		padding: 0.5em;
		list-style-type: none;
	}
}

.table-num {
	text-align: right;
	padding-right: 5px;
}