<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>項目登録</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<div class="content">
		<div class="left-content"></div>
		<div class="main-content">
			<h2>項目登録</h2>
			<form method="post" class="input-form">
				<ul th:if="${errors}" class="message-list">
					<li th:each="error:${errors}">[[${error}]]</li>
				</ul>
				<table border="1">
					<tr>
						<th>件名</th>
						<td>
							<input type="text" name="name">
						</td>
					</tr>
					<tr>
						<th>ジャンル</th>
						<td>
							<select name="genreId">
								<option th:each="genre:${genres}" th:value="${genre.id}">[[${genre.genreName}]]</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>金額</th>
						<td>
							<input type="number" name="price" value="0">
						</td>
					</tr>
					<tr>
						<th>日付</th>
						<td>
							<input type="date" name="addDate">
						</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>
							<input type="text" name="comment">
						</td>
					</tr>
				</table>
				<button class="classic-button">登録</button>
			</form>
		</div>
		<div class="right-content"></div>
	</div>
	<footer th:replace="~{footer}"></footer>
</body>
</html>