<header class="main-header">
    <h1 class="main-header-logo">家計簿.Web</h1>
    <nav class="main-header-nav">
        <ul class="main-header-list">
            <li class="main-header-item">
                <a href="/items" class="main-header-anchor">一覧表示</a>
            </li>
            <li class="main-header-item">
                <a href="/items/calendar" class="main-header-anchor">カレンダー表示</a>
            </li>
            <li class="main-header-item">
                <a href="/items/account" class="main-header-anchor">アカウント情報</a>
            </li>
        </ul>
    </nav>
</header>