<header class="main-header">
    <h1 class="main-header-logo">家計簿.WEB</h1>
    <nav class="main-header-nav">
        <ul class="main-header-list">
            <li class="main-header-item">
                <a href="/items" class="main-header-anchor">一覧表示</a>
            </li>
            <li class="main-header-item">
                <a href="/items/calendar" class="main-header-anchor">カレンダー表示</a>
            </li>
				<li class="main-header-item">
				    <a href="/calendar/2026/5" class="main-header-anchor">自作カレンダー表示</a>
				</li>
            <li class="main-header-item">
                <a href="/account/detail" class="main-header-anchor">アカウント情報</a>
            </li>
			<li class="main-header-item">
				<a href="/" class="main-header-anchor">ログアウト</a>
			</li>
        </ul>
    </nav>
</header>