<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>レシート画像登録</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<div class="content">
		<div class="left-content"></div>
		<div class="main-content">
			<h2>画像登録</h2>
			<form method="post" enctype="multipart/form-data" class="input-form">
				<table border="1">
					<tr>
						<th>ファイル選択</th>
						<td><input type="file" name="file"></td>
					</tr>
				</table>
				<button class="add-button">登録</button>
			</form>
			<div th:if="${image}" style="text-align: center;">
				<hr>
				<h2>登録済み画像</h2>
				<img th:src="${'data:image/png;base64,'+image}" alt="レシート画像">
			</div>
		</div>
		<div class="right-content"></div>
	</div>
	<footer th:replace="~{footer}"></footer>
</body>
</html>