<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登録項目一覧</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<div class="content">
		<div class="left-content">
			<div th:replace="accountInfo"></div>
		</div>
		<div class="main-content">
			<h2>登録項目一覧</h2>
			<hr>
			<div style="display: flex;">
				<form action="/items">
					<button class="item-view-button-all">全商品</button>
				</form>
				<form th:each="genre:${genres}" action="/items">
					<input type="hidden" name="genreId" th:value="${genre.id}">
					<button class="item-view-button-genre">[[${genre.genreName}]]</button>
				</form>
			</div>
			<table border="1" class="item-table">
				<thead>
					<tr>
						<th>項目目</th>
						<th>ジャンル名</th>
						<th>収入</th>
						<th>支出</th>
						<th>日付</th>
						<th>備考</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${items}" th:object="${item}">
						<td><a th:href="@{/items(id=*{id})}">[[*{itemName}]]</a></td>
						<td>[[*{genre.genreName}]]</td>
						<td th:text="*{genre.isIncome} ? *{price} : ''"></td>
						<td th:text="*{genre.isIncome} ? '' : *{price}"></td>
						<td>[[*{addDate}]]</td>
						<td>[[*{comment}]]</td>
						<td>
							<form th:action="@{/items/{id}/edit(id=*{id})}">
								<button class="item-edit-button">編集</button>
							</form>
						</td>
						<td>
							<form th:action="@{/items/{id}/delete(id=*{id})}" method="post">
								<button class="item-delete-button">削除</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<form action="/items/add">
				<button class="classic-button">新規登録</button>
			</form>
			<p class="total-price">今月の収支：
				<span style="color: red;">[[${totalPrice}]]</span>
			</p>
		</div>
		<div class="right-content">
			<div th:replace="itemDetail"></div>
		</div>
	</div>
	<footer th:replace="~{footer}"></footer>
</body>
</html>