<div th:if="${details}">
	<h2>項目詳細</h2>
	<div th:each="item:${details}" th:object="${item}">
		<hr>
		<div style="justify-items: center;">
			<table border="1" class="item-detail-table">
				<tr>
					<th>名前</th>
					<td>[[*{itemName}]]</td>
				</tr>
				<tr>
					<th>カテゴリ</th>
					<td>[[*{genre.genreName}]]</td>
				</tr>
				<tr>
					<th>[[*{genre.isIncome} ? '収入' : '支出']]</th>
					<td>[[*{price}]]</td>
				</tr>
				<tr>
					<th>日付</th>
					<td>[[*{addDate}]]</td>
				</tr>
				<tr>
					<th>備考</th>
					<td>[[*{comment}]]</td>
				</tr>
				<tr>
					<th>レシート画像</th>
					<td>
						<div th:if="${image != null}">
                            <a th:href="@{/items/{id}/receipt/edit(id=*{id})}"><img th:src="${'data:image/png;base64,'+image}" alt="レシート画像"></a>
                        </div>
                        <div th:if="${image == null}">
                            <p>レシート画像は登録されていません。</p>
                        </div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>