<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録項目一覧</title>
</head>
<body>
	<h1>登録項目一覧</h1>
	<ul>アカウント情報
		<li>[[${@account.id}]]</li>
		<li>[[${@account.name}]]</li>
	</ul>
	
	<table border="1">
		<tr>
			<th>項目ID</th>
			<th>項目目</th>
			<th>ユーザ名</th>
			<th>ジャンル名</th>
			<th>収入</th>
			<th>支出</th>
			<th>日付</th>
			<th>備考</th>
			<th>削除</th>
		</tr>
		<tr th:each="item:${items}" th:object="${item}">
			<td>[[*{id}]]</td>
			<td>[[*{itemName}]]</td>
			<td>[[*{user.userName}]]</td>
			<td>[[*{genre.genreName}]]</td>
			<td th:text="*{price} > 0 ? *{price} : ''"></td>
			<td th:text="*{price} < 0 ? *{price} : ''"></td>
			<td>[[*{addDate}]]</td>
			<td>[[*{comment}]]</td>
			<td>
				<form th:action="@{/items/{id}/delete(id=*{id})}">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	<form action="/items/add">
		<button>項目登録</button>
	</form>
</body>
</html>