<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ユーザ登録</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{subHeader}"></header>
	<div class="content">
		<div class="left-content"></div>
		<div class="main-content">
			<h2>ユーザ登録</h2>
			<ul style="color: red;" th:if="${errors}">
				<li th:each="error:${errors}">[[${error}]]</li>
			</ul>
			<form action="/register" method="post" class="input-form">
				<table border="1">
					<tr>
						<th>名前</th>
						<td>
							<input type="text" name="name" th:value="${name}">
						</td>
					</tr>
					<tr>
						<th>email</th>
						<td>
							<input type="email" name="email" th:value="${email}">
						</td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td>
							<input type="password" name="password" th:value="${password}">
						</td>
					</tr>
					<tr>
						<th>パスワード確認</th>
						<td>
							<input type="password" name="passwordConfirm" th:value="${passwordConfirm}">
						</td>
					</tr>
				</table>
				<button class="classic-button">
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
						<title xmlns="">register-outline</title>
						<path fill="currentColor"
							d="M15 4a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4m0 1.9a2.1 2.1 0 1 1 0 4.2A2.1 2.1 0 0 1 12.9 8A2.1 2.1 0 0 1 15 5.9M4 7v3H1v2h3v3h2v-3h3v-2H6V7zm11 6c-2.67 0-8 1.33-8 4v3h16v-3c0-2.67-5.33-4-8-4m0 1.9c2.97 0 6.1 1.46 6.1 2.1v1.1H8.9V17c0-.64 3.1-2.1 6.1-2.1" />
					</svg>
					登録
				</button>
			</form>
		</div>
		<div class="right-content"></div>
	</div>
	<footer th:replace="~{footer}"></footer>
</body>
</html>